<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab 9- Grupo F</title>

    <link rel="stylesheet" href="assets/styles.css" />
    <script src="assets/game.js" defer></script>
</head>
<body>
<div class="game">
    <div class="board-container">
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
    <div id="preview"></div>
        <input id="files" type="file" accept="image/*" multiple>
    <div class="controls">
        <button>Start</button>
        <div class="stats">
            <div style="color: black" class="moves">0 movimientos</div>
            <div style="color: black" class="timer">time: 0 seg</div>
        </div>
        <button>Shuffle</button>
    </div>

    <div class="board-container">
        <div class="board" data-dimension="4"></div>
        <div class="win">Ganaste!</div>
    </div>
    </div>

</div>
</body>
<script>
    const preview = (file) => {
        const img = document.createElement("img");
        img.src = URL.createObjectURL(file);  // Object Blob
        img.alt = file.name;
        document.querySelector('#preview').append(img);
    };

    document.querySelector("#files").addEventListener("change", (ev) => {
        if (!ev.target.files) return; // Do nothing.
        [...ev.target.files].forEach(preview);
    });
</script>

</html>